
<mat-toolbar color="primary" class="app-header">
    <mat-toolbar-row>
        <button mat-icon-button aria-label="menu icon-button" class="menu-btn" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span><a routerLink="/" class="link">E-Commerce</a></span>
        <span class="spacer"></span>
        <button mat-button (click)="logout()">Logout</button>
      </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav"
                 [fixedInViewport]="true" [fixedTopGap]="60"
                 [fixedBottomGap]="50">
                <mat-list role="list" class="menu-list">
                    <mat-list-item role="listitem" matRipple *ngFor="let menu of menu$ | async">
                        <a routerLink="menu.route" routerLinkActive="active">{{menu.title}}</a>
                    </mat-list-item>
                </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <mat-toolbar class="app-footer" color="primary">Footer</mat-toolbar>